<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yw.task.mapper.user.UserTaskMapper">

    <insert id="addOrUpdate" parameterType="com.yw.task.common.model.user.UserTask" keyProperty="userTask.id"
            useGeneratedKeys="true">
        insert into user_task(task_id, user_id, `level`, trigger_value, status)
        values (#{userTask.taskId}, #{userTask.userId}, #{userTask.level}, #{userTask.triggerValue},
                #{userTask.status}) ON DUPLICATE KEY
        UPDATE level = #{userTask.level}
            ,trigger_value = #{userTask.triggerValue}
            ,status = #{userTask.status}
    </insert>

</mapper>